body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.tool-bar{
    background-color: #000;

    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 30px;
    font-weight: 200;

    margin: 0px 15px;
    color: #fff;

    text-decoration: none;
}
.tool-bar div a {
    color: #000;
    font-size: 20px;
    text-decoration: none;

    padding: 10px 15px;
    margin: 0px 15px;

    background-color: #77C9D4;
    border-radius: 20px;
}
.tool-bar div a:hover {
    color: #fff
}



.main-page {
    display: flex;
    flex: 1;
}

/* Barra lateral esquerda */
.side-bar {
    height: 400px;

    display: flex;
    flex-direction: column;
}
.atalho {
    display: flex; 
    flex-direction: column;      
    justify-content: space-between;  

    background-color: #fff;
    border: solid 2px #EAE3EA;  

    height: 100%;
    width:200px;
    margin: 15px;
}
.atalho a {    
    display: flex;    
    flex: 1;   
    justify-content: center;    
    align-items: center;   

    text-decoration: none;   

    width: 200px;
    height: 100%;
    color: #000;    
    font-size: 25px;   
    border-bottom: solid 4px #EAE3EA;
}
.atalho a:hover { 
    background-color: #ddd7dd;    
    border-bottom:solid 6px #77C9D4;
}

/* Conteudo do meio da pagina */
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 1000px;
}
.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 400px;
    margin-top: 15px;   
}
.mySlide {
    position: absolute;
    display: none;

    width: 800px;
    height: 400px;
}
.switchImg {
    z-index: 1;
    font-size: 40px;
    color: #fff;

    width: 800px;
    height: 400px;

    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-between;
}
.switchImg div {
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.315);
}
.switchImg div:hover {
    background-color:rgba(0, 0, 0, 0.615)
}